
/* TODO
Fix vanta background, make it less dull 

Fix Font size

Alllign resource seciton 

*/

.background {
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bgColors);
    overscroll-behavior: none;
    overflow-x: hidden;
} /* fix overflow scroll behavior   FIXED */

.sideBar{
width: 50px;
height: 100vh;
background-color: var(--topnavColors);
}

.navBar{
width: 100%;
height: 50px;
background-color: #000000;
display: flex;
justify-content: left;
padding: 0 30px;
align-items: center;

}
.navBar ul{
    list-style: none;
    display: flex;
   gap: 20px;
}
.navBar ul li{
}

.navBarItem{
 align-self: left;;
}

.bgContainer{
    width: 100%;
    height: 50vh;
    display:flex;
    /* with flex display you must justify flex direction or, contents will be in the same place in the center */

}

.vantabg{
    z-index: 0;
    width: 100%;
    height: 50vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
   
}


.backgroundHeader{
    text-align: left;
    margin-left: 0;
    margin-left: 50px;
    font-family: var(--font-roboto-mono);
    font-size:40px;
    /* test 2*/
    width: 10ch ; /* this makes it so header doesnt take up entire width*/
    overflow: hidden;
    border-right: .10em solid #ffffff;
    white-space: nowrap;
    letter-spacing: .15em;
    z-index: 1;

    animation:
    typing 1s steps(20,end),
    blink-caret .75s step-end infinite;
}

@keyframes typing{
    from {width: 0}
    to {width: 10ch}
}

@keyframes blink-caret{
    from,to {border-color: transparent}
    50% {border-color: #ffffff ;}
}

.headerP{
    z-index: 1;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    font-family: var(--font-roboto-mono);

}


.projectsAndResources{
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 200px;
  
}

.savedProjects{
    position: relative;
    align-self: left;
    width: 900px;
    height: 300px;
    font-family:  var(--font-body);
    font-size: 30px;
    color: var(--fgColors); 

   
}
.savedProjectsH{
    justify-self: center;
    
}

.projectContainer{
    margin-top: 10px;
    width: 800px;
    height: 250px;
    background-color: #000000;
    border-radius: 20px; 
    justify-self: center;
    opacity: 80%;
 
}

.resourcesSection{
    font-size: 30px;
    font-weight:500;
    font-family: var(--font-body);
    color: var(--fgColors);
    justify-items: center;
    align-items: center;
    width: 200px;
    height: 200px;

}
.resources{
 margin-top: 10px;
 position: relative;

 /* 
 we want to house a grid in the resources section 
 this grid will be images or linkes to varous helpful resources
 */

 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr;
 gap: 20px; 

 
}

.resourceBox{
    background-color: var(--bgColors-2);
    display: flex;
    justify-content: center;
    height: 150px;
    width: 120px;
    border-radius: 20px;
    position: relative;
    border: 2px solid transparent ;
  transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

.resourceBox:hover{
    border-color: #9a0d0d;
    border-width: 3px;
     box-shadow: 0 0 12px 4px #9a0d0d;
    transition: border-color 0.5s ease, box-shadow 0.5s ease;
}


.resourceBox img{
    position: relative;
    align-self: self-start;
    margin-top: 5px;
    height: 90px;
    width: 90px;
   border-radius: 20px;
}
.resourceBoxHeader{
    opacity: 80%;
    position: absolute;
    bottom: 0;
    font-size: 25px;

}